
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.staff-user-9xw {
  width: 100%;
  position: relative;
  display: flex;
  background: linear-gradient(180deg, #3be073 -0%, #0e4120 100%);
  box-sizing: border-box;
  padding: 8.3rem 2rem 12.6rem 1.9rem;
  overflow: hidden;
  align-items: center;
  flex-direction: column;

  .sch-logo-2-UkK {
    height: 3.8rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin-left: 0.1rem;
    width: 4rem;
  }
  .e-logbook-Dxo {
    font-weight: 700;
    line-height: 1.2125;
    color: #0e4120;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0.1rem 6.5rem 0rem;
    font-size: 1.6rem;
  }
  .auto-group-3csp-95m {
    background-color: rgba(247, 253, 249, 0.2599999905);
    border-radius: 2rem;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 6rem 1.5rem 7.1rem 1.6rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    .username-4yR {
      line-height: 1.2125;
      color: #01260e;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 1.1rem 0.1rem;
      font-size: 1.4rem;
      font-weight: 700;
    }
    .auto-group-fvm5-zs5 {
      font-size: 1rem;
      font-weight: 700;
      color: rgba(7, 47, 20, 0.4600000083);
      white-space: nowrap;
      border-radius: 1rem;
      flex-shrink: 0;
      margin-bottom: 3.2rem;
      box-sizing: border-box;
      padding: 1.2rem 1.5rem 1.6rem 1.5rem;
      width: 28.9rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      background-color: rgba(217, 217, 217, 0.4199999869);
    }
    .password-sR5 {
      color: #01260e;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 1.1rem 0.1rem;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.2125;
    }
    .auto-group-pswd-nnw {
      width: 28.9rem;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
      background-color: rgba(217, 217, 217, 0.4199999869);
      border-radius: 1rem;
      box-sizing: border-box;
      flex-shrink: 0;
      padding: 1.2rem 1.8rem 1.6rem 1.8rem;
      color: rgba(7, 47, 20, 0.4600000083);
      font-family: Inter, 'Source Sans Pro';
      margin: 0rem 0rem 11.2rem 0.1rem;
    }
    .auto-group-sows-qmD {
      background-color: rgba(229, 241, 233, 0.7300000191);
      border-radius: 0.7rem;
      margin: 0rem 8.6rem 0rem 10.1rem;
      padding: 0.9rem 2.7rem 1rem 2.6rem;
      width: calc(100% - 18.7rem);
      align-items: center;
      box-sizing: border-box;
      display: flex;
      border: solid 0.2rem #1b7b3b;
      flex-shrink: 0;

      .login-9G7 {
        cursor: pointer;
        font-weight: 700;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.2rem;
        color: #0e4120;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.2rem;
      }
      .icons8-enter-50-3-59m {
        vertical-align: top;
        flex-shrink: 0;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        object-fit: cover;
      }
    }
  }
}
